{%  extends "admin/main_layout.html.twig" %}
{% block title %}Log in!{% endblock %}

{% block content_body %}
    <div class="text-red"><h1 class="text-red">Accès refusé</h1>
        <h1 class="text-red">Vous n'avez pas les droits nécessaires pour accéder à cette page.</h1></div>
{% endblock %}