<footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> {{version_name}}
    </div>
    <strong>Copyright &copy; 2015-2024 <a href="https://www.golobsoft.tech">Globe Soft SARL</a>
        </strong> Tous droits réservés!
  </footer>